<section class="product">
  <div class="container-fluid">
    <div class="slider-wrap">
      <div class="slider-main">
        <div class="item">
        <div class="text"> </div>
        <div class="img">  <img src="url../../../../../assets/img/cartgra5/1.png" style="max-width: 100%;"  alt="logo">
        </div>
      </div>
      <div class="item">
        <div class="img">  <img src="url../../../../../assets/img/cartgra5/2.png" style="max-width: 100%;"  alt="logo">
        </div>
        <div class="text"> </div>
      </div>
      <div class="item">
        <div class="img">  <img src="url../../../../../assets/img/cartgra5/3.png" style="max-width: 100%;"  alt="logo">
        </div>
        <div class="text"> </div>
      </div>
      <div class="item">
        <div class="img">  <img src="url../../../../../assets/img/cartgra5/4.png" style="max-width: 100%;"  alt="logo">
        </div>
        <div class="text"> </div>
      </div>
      <div class="item">
        <div class="text"> </div>
        <div class="img">  <img src="url../../../../../assets/img/cartgra5/5.png" style="max-width: 100%;"  alt="logo">
        </div>
      </div>
      <div class="item">
        <div class="text"> </div>
        <div class="img">  <img src="url../../../../../assets/img/cartgra5/6.png" style="max-width: 100%;"  alt="logo">
        </div>
      </div>
      <div class="item">
        <div class="text"> </div>
        <div class="img">  <img src="url../../../../../assets/img/cartgra5/7.png" style="max-width: 100%;"  alt="logo">
        </div>
      </div>
      <div class="item">
        <div class="text"> </div>
        <div class="img">  <img src="url../../../../../assets/img/cartgra5/8.png" style="max-width: 100%;"  alt="logo">
        </div>
      </div>
      <div class="item">
        <div class="text"> </div>
        <div class="img">  <img src="url../../../../../assets/img/cartgra5/9.png" style="max-width: 100%;"  alt="logo">
        </div>
      </div>

      <div class="item">
        <div class="img">  <img src="url../../../../../assets/img/cartgra5/10.png" style="max-width: 100%;"  alt="logo">
        </div>
        <div class="text"> </div>
      </div>
      </div>
      <div class="button-area">
        <button type="button" class="prev" appPrev> Prev</button>
        <button type="button" class="next" appNext>Next</button>
      </div>
    </div>

  </div>


</section>


